.container {
  display: flex;
  justify-content: center;
  padding-block-start: 4rem;
  padding-block-end: 8.375rem;
  padding-inline: 1rem;
  background-image: url('/cover.png');
  background-repeat: no-repeat;
  background-size: cover;
}
