@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 72px;
  margin-block-end: 12px;

  h3 {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;

    svg {
      animation: spin 600ms linear infinite;
    }
  }

  span {
    color: var(--span);
    font-size: 14px;
  }
}

.search {
  all: unset;
  box-sizing: border-box;
  inline-size: 100%;
  border-radius: 6px;
  padding-block: 12px;
  padding-inline: 16px;
  background-color: var(--backgroundInput);
  border: 1px solid var(--borderInput);
  transition: box-shadow 145ms cubic-bezier(0.25, 0, 0.4, 1);

  &::placeholder {
    color: var(--baseLabel);
  }

  &:focus {
    border-color: var(--brand);
    box-shadow: 0 0 0 4px var(--borderInput);
  }
}
