.container {
  margin-block-end: 100px;
  padding-block-end: 56px;
}

.title {
  display: inline-block;
  font-size: 18px;
  padding-block: 14px;
  padding-inline: 32px;
  margin-block-start: 64px;
  border-radius: 6px 6px 0 0;
  background-color: var(--baseProfile);
}

.commentsContainer {
  padding-block: 40px;
  padding-block-end: 16px;
  padding-inline: 40px;
  inline-size: 100%;
  border-radius: 0 6px;
  background-color: var(--baseProfile);

  > * + * {
    margin-block-start: 40px;
  }
}

.comment {
  display: grid;
  grid-template-columns: 60px 1fr auto;
  align-items: center;
  column-gap: 16px;
  row-gap: 24px;
  padding-block-end: 40px;

  &:not(:last-of-type) {
    border-block-end: 1px solid var(--borderInput);
  }

  img {
    grid-column: 1 / -1;
    inline-size: 60px;
    block-size: 60px;
    border-radius: 99999px;
    object-fit: cover;

    @media (min-width: 640px) {
      grid-column: initial;
    }
  }

  > div:first-of-type {
    grid-column: span 3;

    @media (min-width: 640px) {
      grid-column: initial;
    }

    > p {
      font-size: 14px;
      font-weight: 700;
      color: var(--title);
    }
    > span {
      font-size: 14px;
      color: var(--span);
    }
  }

  > span {
    grid-column: span 3;
    font-size: 14px;
    color: var(--span);

    @media (min-width: 640px) {
      grid-column: initial;
    }
  }

  > p {
    grid-column: 1 / -1;
  }
}

.empty {
  text-align: center;
  padding-block: 32px;
}

.reactions {
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;

  div {
    user-select: none;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-block: 4px;
    padding-inline: 8px;
    border-radius: 99999px;
    font-size: 12px;
    background-color: rgba(50, 148, 248, 10%);
    border: 1px solid var(--brand);

    svg {
      font-size: 14px;
    }
  }
}
